@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$orange: #FF8040;

body {
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
}

.error-message {
    color: red;
    margin: 0;
}

.job_list {
    // background-color: red;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    width: 90%;
    margin: 3rem auto;
    gap: 12px;
}

@import "./Components/Input/input";
@import "./Components/Button/button";
@import "./Components/Navbar/navbar";
@import "./Components/Sidebar/sidebar";
@import "./Components/JobItem/jobItem";
@import "./Components/Footer/footer";
@import "./Components/Filters/filters";
@import "./Components/Modal/modal";
@import "./Components/NoviOglas/noviOglas";
@import "./Screens/Login/login";
@import "./Screens/Register/register";
@import "./Screens/Landing/landing";
@import "./Screens/Jobs/jobs";
@import "./Screens/Dashboard/dashboard";
@import "./Screens/Dashboard/oglasi/oglasi";