@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  font-family: "Roboto";
  font-size: 16px;
  margin: 0;
}

.error-message {
  color: red;
  margin: 0;
}

.job_list {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 90%;
  margin: 3rem auto;
  gap: 12px;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
}
.input_wrapper input,
.input_wrapper textarea {
  border-radius: 6px;
  padding: 6px 10px;
  border: 1px solid gray;
}

.button_wrapper {
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}
.button_wrapper:hover {
  transform: scale(1.02);
}
.button_wrapper:active {
  transform: scale(0.98);
}
.button_wrapper.size_1 {
  border-radius: 8px;
  padding: 6px 18px;
  font-size: 1rem;
}
.button_wrapper.size_2 {
  border-radius: 8px;
  padding: 8px 22px;
  font-size: 1.25rem;
}
.button_wrapper.version_1 {
  background-color: #FF8040;
  color: white;
}
.button_wrapper.version_2 {
  background-color: transparent;
  color: #FF8040;
  border: 1px solid #FF8040;
}
.button_wrapper.version_3 {
  background-color: #338573;
  color: white;
}

.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 3rem;
  align-items: center;
  z-index: 1000;
}
.navbar_wrapper div {
  display: flex;
  gap: 0.5rem;
}
.navbar_wrapper .nav_link {
  text-decoration: none;
  color: black;
  padding: 0 6px;
  font-weight: 300;
}

.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  background-color: #EBEBEB;
  width: 240px;
  margin-top: -64px;
  padding-top: 64px;
}
.sidebar_wrapper .nav_link {
  text-decoration: none;
  color: black;
  padding: 6px 22px;
  font-weight: 300;
  cursor: pointer;
}
.sidebar_wrapper .nav_link.active {
  background-color: white;
}

.job_item {
  display: grid;
  align-items: center;
  grid-template-columns: 120px auto auto;
  box-shadow: 0 0 2px gray;
  padding: 10px 25px;
  border-radius: 8px;
}
.job_item .image {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background-color: #FF8040;
  text-align: center;
  line-height: 5rem;
  color: white;
  font-size: 3rem;
  font-weight: 600;
}
.job_item .details h3,
.job_item .details p {
  margin: 0;
}
.job_item .details div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-top: 8px;
}
.job_item .details div p {
  margin: 0;
}
.job_item .details div p img {
  margin-right: 4px;
}
.job_item .actions {
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
}
.job_item .save_action {
  cursor: pointer;
}

.usluga_item .image {
  background-color: #338573;
}

.footer_wrapper {
  min-height: 240px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  align-items: center;
}
.footer_wrapper .line {
  margin: 180px 0 16px 0;
  width: 70%;
  border-bottom: 1px solid white;
}

.filters_wrapper {
  height: 100%;
  box-shadow: 2px 1px 2px lightgray;
}

.modal_wrapper {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_wrapper .backdrop {
  width: inherit;
  height: inherit;
  background-color: rgba(220, 220, 220, 0.5);
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
}
.modal_wrapper .content {
  min-width: 500px;
  max-width: 750px;
  min-height: 250px;
  background-color: white;
  z-index: 1002;
  border-radius: 12px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.modal_wrapper .content .close-button {
  position: absolute;
  top: 20px;
  right: 14px;
  cursor: pointer;
  color: gray;
  height: 20px;
  width: 20px;
  text-align: justify;
  font-size: 1.2rem;
}
.modal_wrapper .content .close-button:hover {
  color: black;
}

.novi_oglas_modal {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.novi_oglas_modal .inline {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 20vh;
}
.login_wrapper .input_wrapper {
  width: 220px;
}

.register_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 20vh;
}
.register_wrapper .input_wrapper {
  width: 220px;
}

.landing_wrapper .header {
  height: 100vh;
  box-sizing: border-box;
  background-image: url("./Assets/header_img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing_wrapper .header .logan {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15%;
  margin-left: 60%;
}
.landing_wrapper .header .logan h2 {
  margin: 0;
  font-size: 3rem;
}
.landing_wrapper .header .logan div:last-child {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: center;
}
.landing_wrapper .header .logan div:last-child p {
  width: 100px;
  margin: 0;
  text-align: center;
}
.landing_wrapper .header .logan h3 {
  color: #FF8040;
  font-size: 3rem;
  margin: 0;
}
.landing_wrapper section {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 2rem 0;
}
.landing_wrapper section h2 {
  font-size: 4rem;
  margin: 1rem;
}

.jobs_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.jobs_wrapper .content {
  flex-grow: 1;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 200px auto;
  gap: 10px;
}
.jobs_wrapper .content .sve_preporuceno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 8px;
  overflow: hidden;
  color: #FF8040;
  border: 1px solid #FF8040;
  text-align: center;
  width: 250px;
  height: 2.25rem;
  line-height: 2.25rem;
  margin: 1rem auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.jobs_wrapper .content .sve_preporuceno .item.active {
  background-color: #FF8040;
  color: white;
}
.jobs_wrapper .content .sve_preporuceno .item:not(.active) {
  cursor: pointer;
}

.dashboard_wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.dashboard_wrapper .content {
  display: flex;
  flex-grow: 1;
}
.dashboard_wrapper .content .outlet {
  padding: 1rem;
  width: 70%;
}

.podesavanje_profila_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.moje_potraznje_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.poslovi_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.posao_detalji_wrapper {
  display: grid;
  grid-template-columns: 60% auto;
  gap: 3%;
}
.posao_detalji_wrapper .top {
  display: flex;
  justify-content: space-between;
}
.posao_detalji_wrapper .options {
  margin-top: 3rem;
  display: flex;
  gap: 10px;
}
.posao_detalji_wrapper .offer_modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.moje_usluge_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.usluga_item .image {
  background-color: #338573;
}

.sacuvani_poslovi_wrapper .job_list {
  width: 100%;
  margin: unset;
  max-width: unset;
}

.ponuda_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 2px gray;
  padding: 10px 25px;
  border-radius: 8px;
}
.ponuda_item .right {
  display: flex;
  align-items: center;
  gap: 16px;
}
.ponuda_item .status {
  background-color: #FF8040;
  width: 100px;
  text-align: center;
  padding: 6px;
  border-radius: 8px;
  color: white;
}

.poslane_ponude_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}/*# sourceMappingURL=styles.css.map */