@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$orange: #FF8040;

body {
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
}

.error-message {
    color: red;
    margin: 0;
}

@import "./Components/Input/input";
@import "./Components/Button/button";
@import "./Components/Navbar/navbar";
@import "./Components/Sidebar/sidebar";
@import "./Components/JobItem/jobItem";
@import "./Components/Footer/footer";
@import "./Components/Filters/filters";
@import "./Screens/Login/login";
@import "./Screens/Register/register";
@import "./Screens/Landing/landing";
@import "./Screens/Jobs/jobs";
@import "./Screens/Dashboard/dashboard";