.landing_wrapper {
    .header {
        height: 100vh;
        box-sizing: border-box;
        background-image: url("./Assets/header_img.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .logan {
            width: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 15%;
            margin-left: 60%;

            h2 {
                margin: 0;
                font-size: 3rem;
            }

            div:last-child {
                display: flex;
                align-items: center;
                gap: 12px;
                justify-content: center;

                p {
                    width: 100px;
                    border: 1px solid red;
                    margin: 0;
                    text-align: center;
                }
            }

            h3 {
                color: $orange;
                font-size: 3rem;
                margin: 0;

            }
        }
    }

    section {
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        margin: 2rem 0;

        h2 {
            font-size: 4rem;
            margin: 1rem
        }
    }

    .job_list_landing {
        display: flex;
        flex-direction: column;
        max-width: 1000px;
        width: 80%;
        margin: 3rem auto;
        gap: 12px;
    }
}