.button_wrapper {
    border: none;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(0.98);
    }

    &.size_1 {
        border-radius: 8px;
        padding: 6px 18px;
        font-size: 1rem;
    }

    &.size_2 {
        border-radius: 8px;
        padding: 8px 22px;
        font-size: 1.25rem;
    }

    &.version_1 {
        background-color: $orange;
        color: white;
    }

    &.version_2 {
        background-color: transparent;
        color: $orange;
        border: 1px solid $orange;
    }
}