.sidebar_wrapper {
    display: flex;
    flex-direction: column;
    background-color: #EBEBEB;
    width: 240px;
    margin-top: -64px;
    padding-top: 64px;

    .nav_link {
        text-decoration: none;
        color: black;
        padding: 6px 22px;
        font-weight: 300;
        cursor: pointer;

        &.active {
            background-color: white;
        }
    }
}