.navbar_wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 3rem;
    align-items: center;
    z-index: 1000;

    div {
        display: flex;
        gap: 0.5rem;
    }

    .nav_link {
        text-decoration: none;
        color: black;
        padding: 0 6px;
        font-weight: 300;
    }
}